.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
body{
    justify-content: center;
    flex-direction: column;
    background-color: aqua;
    font-size: 30px;

}